<%= form_with(model: money_movement_form, local: true, url: url) do |form| %>
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <% if money_movement_form.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(money_movement_form.errors.count, "error") %> prohibited this money_movement from being saved:</h2>

          <ul class="collection">
            <% money_movement_form.errors.full_messages.each do |message| %>
              <li class="collection-item red-text"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m6 offset-m3">
      <%= form.label :amount %>
      <%= form.text_field :amount, id: :money_movement_amount, class: 'money', autofocus: true %>
    </div>
  </div>

  <div class="row">
    <%= form.fields_for :description do |description_form| %>
      <div class="col s12 m6 offset-m3">
        <%= description_form.label :body %>
        <%= description_form.text_field :body %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |box| %>
      <div class="col s12 m6 offset-m3">
        <%= box.check_box %>
        <%= box.label %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="input-field col s12 m6 offset-m3 center">
      <%= form.submit class: 'btn blue lighten-1' %>
    </div>
  </div>
<% end %>
