<div class="row">
  <h1 class="center">Money Movements</h1>
</div>

<div class="row">
  <div class="col s12 m10 offset-m1">
    <table>
      <thead>
        <tr>
          <th>Amount</th>
          <th>Categories</th>
          <th>Created at</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @money_movements.each do |money_movement| %>
          <tr>
            <%= content_tag :td, class: 'tooltipped', data: { tooltip: money_movement.description.body } do %>
              <%= money_movement.amount %>
            <% end %>
            <td><%= money_movement.categories_names_separated_by_comma %></td>
            <td><%= money_movement.created_at %></td>
            <td><%= link_to 'Edit', edit_money_movement_path(money_movement) %></td>
            <td><%= link_to 'Destroy', money_movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
