<div class="row">
  <h1 class="center">New Money Movement</h1>
</div>

<%= render 'form', money_movement_form: @money_movement_form, url: money_movements_path %>

<div class="row">
  <div class="col s12 center">
    <%= link_to 'Back', money_movements_path %>
  </div>
</div>
