<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @money_movement.amount %>
</p>

<%= link_to 'Edit', edit_money_movement_path(@money_movement) %> |
<%= link_to 'Back', money_movements_path %>
