<h2 class="center">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="input-field col s12 m6 offset-m3">
      <%= f.email_field :email, autofocus: true %>
      <%= f.label :email %><br />
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m6 offset-m3">
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.label :password %><br />
    </div>
  </div>

  <div class="row">
    <% if devise_mapping.rememberable? -%>
      <div class="col s12 m6 offset-m3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
  </div>

  <div class="row">
    <div class="input-field col s12 m6 offset-m3 center">
      <%= f.submit "Log in", class: 'btn blue lighten-1' %>
    </div>
  </div>
<% end %>

  <div class="row">
    <div class="input-field col s12 m6 offset-m3 center">
      <%= render "users/shared/links" %>
    </div>
  </div>
