<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large red">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li class="tooltipped" data-tooltip="Adicionar categoria" data-position="top">
      <%= link_to new_category_path, class: 'btn-floating yellow darken-3' do %>
        <i class="material-icons">add</i>
      <% end %>
    </li>
    <li class="tooltipped" data-tooltip="Adicionar movimentação" data-position="top">
      <%= link_to new_money_movement_path, class: 'btn-floating blue lighten-1' do %>
        <i class="material-icons">add</i>
      <% end %>
    </li>
  </ul>
</div>
