<nav>
  <div class="nav-wrapper">
    <%= link_to 'MyBudget', root_path, class: 'brand-logo' %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
       <% menu_links.each do |link| %>
         <li><%= link %></li>
       <% end %>
    </ul>
  </div>
</nav>

