<%= form_for(category_form) do |form| %>
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <% if category_form.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(category_form.errors.count, "error") %> prohibited this money_movement from being saved:</h2>

          <ul class="collection">
            <% category_form.errors.full_messages.each do |message| %>
              <li class="collection-item red-text"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="input-field col s12 m6 offset-m3">
        <%= form.label :name %>
        <%= form.text_field :name, id: :category_name %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m6 offset-m3 center">
      <%= form.submit class: 'btn blue lighten-1' %>
    </div>
  </div>
<% end %>
