<div class="row">
  <h1 class="center">Editing Category</h1>
</div>

<%= render 'form', category_form: @category_form %>

<div class="row">
  <div class="col s12 center">
    <%= link_to 'Back', categories_path %>
  </div>
</div>
