<!DOCTYPE html>
<html>
  <head>
    <title>Mybudget</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="">
    <%= render 'shared/menu' %>
    <div class=container>
      <%= yield %>
    </div>
    <%= show_flash_messages %>
    <%= render 'shared/action_buttons' %>
  </body>
</html>
