<h2 class="center">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="input-field col s12 m6 offset-m3">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m6 offset-m3">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m6 offset-m3">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m6 offset-m3">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m6 offset-m3 center">
      <%= f.submit "Sign up", class: 'btn blue lighten-1' %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="input-field col s12 m6 offset-m3 center">
    <%= render "users/shared/links" %>
  </div>
</div>
